.skills {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    .textContainer{
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr {
            width: 12rem;
            border: none;
            border-top: 0.5px solid gray;
        }
    }
    .titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;

        .title {
            display: flex;
            align-items: center;
            gap: 50px;
            img {
                width: 150px;
                height: 50px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 50px;
                font-weight: 100;
            }
        }
    }
    .listContainer{
        display: flex;
        max-width: 1366px;
        justify-content: center;
        gap: 1rem;
        padding-top: 3rem;

        .box {
            padding-left: 5%;
            padding-right: 4%;
            padding-top: 2%;
            padding-bottom: 1%;

            ul {
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    list-style: none;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}