.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin-left: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;
            padding-right: 5%;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}