@import "../../app.scss";

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    position: fixed;
    z-index: 999;

    @include tablet {
        display: none;
      }

    @include mobile {
        display: none;
    }
}