.aboutme {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .title {
        font-size: 2rem;

        h1 {
            color: whitesmoke;
        }
    }

    .textContainer {
        max-width: 50rem;
        // max-height: 400px;

        h2{
            color: gray;
        }
    }

    .fun {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    }

    .buttonContainer {
        button {         
            padding: 0.8rem;
            border: 1px solid whitesmoke;
            border-radius: 10px;
            cursor: pointer;
            background-color: transparent;
            color: whitesmoke;
            transition: background-color 0.3s, color 0.3s;
        }

        button:hover {
            background-color: orange;
            color: #333;
        }
    }
}