@import "../../app.scss";

.aboutme {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mobile {
        transform: none !important;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .title {
        font-size: 2rem;

        h1 {
            color: whitesmoke;

            @include tablet {
                font-size: 2rem;
            }

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    .textContainer {
        max-width: 50rem;

        h2{
            color: gray;

            @include tablet {
                font-size: 1rem;
                padding: 1rem;
            }

            @include mobile {
                font-size: 0.8rem;
                padding: 0.4rem;
            }
        }
    }

    .fun {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    }

    .buttonContainer {
        button {         
            padding: 0.8rem;
            border: 1px solid whitesmoke;
            border-radius: 10px;
            cursor: pointer;
            background-color: transparent;
            color: whitesmoke;
            transition: background-color 0.3s, color 0.3s;
        }

        button:hover {
            background-color: orange;
            color: #333;
        }
    }
}